.logo-view{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-image{
    width: 100px;
    height: auto;
    margin: 0;
    display: block;
}

.nome-mark{
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-base-light);
}

@media (max-width: 970px) {
    .nome-mark{
        font-size: 1.2rem;
    }
}

@media (max-width: 820px) {
    .logo-image{
        width: 90px;
    }
    
    .nome-mark{
        font-size: 1rem;
    }
}

@media (max-width: 630px) {
    .logo-image{
        width: 90px;
    }
    
    .nome-mark{
        font-size: 1rem;
    }
}


@media (max-width: 600px) {
    .logo-image{
        width: 90px;
    }
    
    .nome-mark{
        font-size: 1rem;
    }
}