@font-face {
    font-family: 'DM Sans';
    src: url('../style/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    /* Colors */
    --text-base-dark: #000;
    --text-base-light: #fff;
    --text-destac: #b64949;
    --text-sub: #b3b3b3;
    --bg-icon: #121212;
    --bg-icon-whatsapp: #25D366;
    --bg-top-bar: #61616142;

    /* Fonts */
    --font-dm-sans: "DM Sans", sans-serif;
}

body {
    padding: 1rem;
    font-family: var(--font-dm-sans) !important;
    color: var(--text-base-light);
    background-color: var(--bg-icon);
}

.icon-standart {
    width: 1rem;
    height: 1rem;
    color: var(--text-sub);
}

.drawer .MuiDrawer-paper {
    width: 300px;
    height: auto;
  }

.drawer-box {
    background-color: var(--bg-icon);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-base-light);
    font-weight: 500;
    margin-top: 1rem;
}

.social-icon-app {
    margin-left: .6rem;
    color: var(--text-sub);
    cursor: pointer;
    transition: color .3s;
    font-size: 1.3rem;
}

.social-icon-app :hover {
    color: var(--text-destac);
}
